# Ex 2

## Pandas warmup exercises

### Preamble

In [2]:
import ucamcl
import pandas
GRADER = ucamcl.autograder('https://markmy.solutions', course='scicomp').subsection('ex2')

Waiting for you to log in .. done.

In [3]:
import os.path
if os.path.exists('stop-and-search.csv'):
    print("file already downloaded")
else:
    !wget "https://www.cl.cam.ac.uk/teaching/2021/DataSci/data/stop-and-search.csv"

file already downloaded

In [4]:
stopsearch = pandas.read_csv('stop-and-search.csv')

### Q1

In [5]:
print(stopsearch['outcome'].unique())
# To sort a series in ascending order .sort_values(axis, ascending)
stopsearch.groupby('outcome').apply(len).sort_values(ascending=False)
# Has one less category as nan is not a group
# better to set dropna to False when grouping dataframe:
stopsearch.groupby('outcome', dropna=False)\
    .apply(len).sort_values(ascending=False)

['Arrest' 'Caution (simple or conditional)' 'A no further action disposal'
 'Khat or Cannabis warning' 'Summons / charged by post' nan
 'Community resolution' 'Penalty Notice for Disorder' 'False'
 'Offender given drugs possession warning' 'Local resolution'
 'Suspect summonsed to court' 'Suspect arrested' 'Offender cautioned'
 'Offender given penalty notice'
 'Article found - Detailed outcome unavailable'
 'Suspected psychoactive substances seized - No further action']

outcome
A no further action disposal                                    467106
False                                                           239660
Arrest                                                           93384
Suspect arrested                                                 63191
Community resolution                                             35319
Offender given drugs possession warning                          26030
Khat or Cannabis warning                                         18668
NaN                                                              17800
Summons / charged by post                                        11168
Penalty Notice for Disorder                                      10628
Local resolution                                                  8164
Article found - Detailed outcome unavailable                      6705
Suspect summonsed to court                                        5758
Offender given penalty notice                                     5623
Caution (simple or conditional)                                   2947
Offender cautioned                                                1747
Suspected psychoactive substances seized - No further action        17
dtype: int64

In [6]:
q = GRADER.fetch_question('p1')
print(q)

The list of unique values includes missing (NaN).
The groupby method excludes missing, by default.
To make it include missing, use dropna=False.
To sort the counts in decreasing order, including missing values:
    stopsearch.groupby('outcome', dropna=False).apply(len).sort_values(ascending=False)

### Q2

In [7]:
# have to select the first item in the series given by mode()!
stopsearch.groupby(['officer_defined_ethnicity', 'gender'])\
    ['age_range'].apply(lambda x : x.mode().values[0]).unstack()

gender                    Female   Male  Other
officer_defined_ethnicity
Asian                      18-24  18-24  18-24
Black                      18-24  18-24  18-24
Mixed                      18-24  18-24  18-24
Other                      18-24  18-24  18-24
White                      18-24  18-24  18-24

In [8]:
q = GRADER.fetch_question('p2')
print(q)

stopsearch.groupby(['officer_defined_ethnicity','gender'])['age_range']    .apply(lambda x: x.mode().values[0])    .unstack(fill_value=None)

### Q3

In [55]:
df = pandas.DataFrame({'A': [0,0,0,1,1,1], 
                       'B': [0,1,2,0,1,2], 
                       'X': range(6)})

df.groupby(['A', 'B'])['X'].apply(lambda x: x.values[0]).unstack()

   A  B  X
0  0  0  0
1  0  1  1
2  0  2  2
3  1  0  3
4  1  1  4
5  1  2  5

In [30]:
q = GRADER.fetch_question('p3')
print(q)

df = pandas.DataFrame({'A': [0,0,0,1,1,1], 'B': [0,1,2,0,1,2], 'X': range(6)})
df.groupby(['A','B'])['X'].apply(lambda x: x.values[0]).unstack()
# Or apply(lambda x: x.iloc[0])
# Or apply(lambda x: x.iat[0])
# Or apply(sum)
# The point is, you have to apply _some_ function, and the function has
# to return a simple Python value.

### Q4

In [63]:
stopsearch.drop_duplicates('type')
stopsearch.groupby('type').tail(1)
# First returns the dataframe with duplicate values 
# in columns specified removed. By default keeps the first occurence.
# Second returns the last row of each group - so the last occurence.
# Can make first do this by setting keep='last'. Can make second
# do first by using head(1).

,force,month,age_range,datetime,gender,involved_person,legislation,location,location_latitude,location_longitude,...,officer_defined_ethnicity,operation,operation_name,outcome,outcome_linked_to_object_of_search,outcome_object_id,outcome_object_name,removal_of_more_than_outer_clothing,self_defined_ethnicity,type
1013862,wiltshire,2016-09,over 34,2016-09-19T14:00:00+00:00,Male,False,Police and Criminal Evidence Act 1984 (section 1),NaN,51.100550,-1.788938,...,White,False,NaN,False,NaN,nothing,Nothing found - No further action,NaN,White - White British (W1),Vehicle search
1013913,wiltshire,2016-09,25-34,2016-09-29T21:00:00+00:00,Male,True,Misuse of Drugs Act 1971 (section 23),NaN,51.432429,-2.200822,...,White,False,NaN,Offender given drugs possession warning,True,drugs,Offender given drugs possession warning,False,White - White British (W1),Person search
1013914,wiltshire,2016-09,over 34,2016-09-30T07:21:00+00:00,Male,True,Misuse of Drugs Act 1971 (section 23),NaN,51.600684,-1.825700,...,White,False,NaN,False,NaN,nothing,Nothing found - No further action,False,White - White British (W1),Person and Vehicle search

In [66]:
q = GRADER.fetch_question('p4')
print(q)

The drop_duplicates method picks an arbitrary row for each value of 'type'.
The tail(1) method picks the last row for each value of 'type'. Obviously this depends on how the dataset is sorted.

### Q5

In [88]:
df = pandas.DataFrame({'time': [1,2,3,4,5,6,7,8], 
                       'event_type': [0,0,2,1,0,1,2,1]})

df['∆t'] = df[df['event_type'].isin([0,1])]\
['time'].transform(lambda x : x.diff())

df[df['event_type'].isin([0, 1])]

   time  event_type   ∆t
0     1           0  NaN
1     2           0  1.0
3     4           1  2.0
4     5           0  1.0
5     6           1  1.0
7     8           1  2.0

In [87]:
q = GRADER.fetch_question('p5')
print(q)

df = pandas.DataFrame({'time': [1,2,3,4,5,6,7,8], 'event_type': [0,0,2,1,0,1,2,1]})
df = df.loc[df.event_type.isin([0,1])]
df['Δt'] = df['time'].diff()

### Q6

In [97]:
df['∆te'] = df.groupby('event_type')['time']\
    .transform(lambda x : x.diff())

df.sort_values(['event_type', 'time'])

   time  event_type   ∆t  ∆te
0     1           0  NaN  NaN
1     2           0  1.0  1.0
4     5           0  1.0  3.0
3     4           1  2.0  NaN
5     6           1  1.0  2.0
7     8           1  2.0  2.0
2     3           2  NaN  NaN
6     7           2  NaN  4.0

In [98]:
q = GRADER.fetch_question('p6')
print(q)

df = pandas.DataFrame({'time': [1,2,3,4,5,6,7,8], 'event_type': [0,0,2,1,0,1,2,1]})
df['Δt'] = df.groupby('event_type')['time'].transform(lambda x: x.diff())
df = df.sort_values(['event_type','time'])